@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" asp-page="./Index">Profile</a>
    <a class="nav-link" id="change-password" asp-page="./ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a class="nav-link" id="external-login" asp-page="./ExternalLogins">External logins</a>
    }
    <a class="nav-link" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    <a class="nav-link" asp-page="./PersonalData">Personal data</a>
</div>
