@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnglerNet</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item active">
                    @if ((User.Identity.IsAuthenticated))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Profile" class="nav-link">Profile</a>
                    }
                </li>
                <li class="nav-item active">
                    @if ((User.Identity.IsAuthenticated))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Messages" class="nav-link">Messages</a>
                    }
                </li>
                <li class="nav-item active">
                    @if ((User.Identity.IsAuthenticated))
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Maps" class="nav-link">Maps</a>
                    }
                </li>
            </ul>
            @if ((User.Identity.IsAuthenticated))
            {
                <form class="mx-2 my-auto d-inline mr-auto col-md-6">
                    <div class="input-group">
                        @*<input type="text" class="form-control border border-right-0" placeholder="Search...">*@
                        <div id="user_search" class="search-bar">
                            <input class="typeahead form-control border border-right-0" type="text" placeholder="Search...">
                        </div>
                        <span class="input-group-append">
                            <button class="btn btn-outline-info border border-left-0" type="button">
                                <i class="fa fa-search">Search</i>
                            </button>
                        </span>
                    </div>
                </form>
            }

            <partial name="_LoginPartial" />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content justify-content-center align-items-center">
        @RenderBody()
        <div class="fixed-bottom bg-light">
            <p>&copy; 2019 - AnglerNet</p>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/typeahead/bloodhound.js"></script>
        <script src="~/lib/typeahead/typeahead.bundle.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
