/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background: url("../images/background.jpg") no-repeat !important;
    min-height: 1200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

.top-menu{
    margin-left: 100px;
    margin-right: 100px;
}   

.search-bar{
    width: 60%;
}

.profile-picture{
    width:100%;
}

.navbar{
    opacity: 0.9 !important;
}

.feed {
    width: 100%;
    margin: 5% 10% 0 10%;
}

.user-form{
    margin-left: 15%;
    width: 70%;
}

.carousel-control-next:hover {
    background: #d8d7d7;
}

.carousel-control-prev:hover {
    background: #d8d7d7;
}

.carousel-caption {
    background: #d8d7d7;
    opacity: 0.8;
    color: black;
}

.fixed-bottom{
    opacity: 0.7;
    text-align: center;
    padding-top: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
